* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 3vh 3vw;
  align-items: center;
  z-index: 2;
  background-color: white;
}

header .btn_menu {
  display: none;
}

/* LOGO */
header h1 a {
  position: relative;
  font: bold 30px/1 'Poor Story';
  color: green;
}

header h1 a .logo {
  width: 30px;
}

/* GNB */
header #gnb {
  position: absolute;
  display: flex;
  left: 180px;
}

header #snb {
  display: none;
}

header #gnb li {
  margin: 0px 15px;
}

header #gnb a {
  font: 16px/1 'Poor Story';
  color: black;
  letter-spacing: 1px;
}

header #id .sub_menu {
  opacity: 0;
}

/* INPUT_SEARCH */

.search {
  position: absolute;
  right: 240px;
}

.search .search_input {
  width: 200px;
  height: 40px;
  border: none;
  background-color: #f2f3f6;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
  font-family: 'Poor Story';
  display: block;
}

/* USER */
.user {
  display: flex;
}

.user li {
  margin: 0 5px;
}

.user li a {
  padding: 10px 20px;
  border-radius: 7px;
  box-sizing: border-box;
  color: black;
  font: 16px/1 'Poor Story';
}

.user li:nth-of-type(1) a {
  border: 1px solid green;
}

.user li:nth-of-type(2) a {
  background-color: green;
  color: white;
}

/* SNS */
.sns {
  display: flex;
}

.sns li {
  margin: 0 10px;
}

.sns li a {
  color: black;
  font-size: 16px;
}

#snb .search_icon {
  position: absolute;
  top: 0;
  display: none;
  font-size: 18px;
  color: black;
}

section {
  background-color: #57a9fa;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

section > .inner {
  padding: 20px;
}

.pageTitle {
  display: block;
  font-size: 2rem;
  color: black;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

.inner > .lists {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-bottom: 30px;
}

.lists > ul {
  width: 700px;
  background-color: aliceblue;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.lists > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(144, 140, 140);
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  text-align: center;
  /* cursor: pointer; */
}

.lists > ul > li:nth-last-child(1) {
  border: none;
}

.lists > ul > li > p {
  margin-left: 5px;
}

.lists > ul > li > .listTitle {
  width: 150px;
}

.lists > ul > li > .listContent {
  width: 350px;
}

.lists > ul > li > .download {
  width: 100px;
}

.lists > ul > li > button {
  display: inline;
  width: 50px;
  height: 25px;
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  /* flex: 0 0 auto; */
  font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 0.9rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.lists > ul > li > button:hover {
  background-color: #374151;
}

.lists > ul > li > button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  button {
    padding: 0.2rem;
  }
}

.addSection {
  background-color: #fa578d;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner > .addPost {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.addPost > h2 {
  text-align: center;
}

.addPost > form {
  text-align: center;
  margin: 20px;
}

form > div {
  margin-bottom: 10px;
  width: 700px;
  font-size: 20px;
}

form > div > input {
  width: 500px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
}

/* form > div > input{
  width: 500px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
} */
